body{
  margin:0;
  overflow: hidden;
}


.menu{
  z-index: 3;
  width: 100%;
  height: 68px;
  background-color: #25aff4;
  padding: 0;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 16px;
  color: #fff;
}
.menu-align-adjuster{
  max-width: 1000px;
  padding: 0 20px;
  margin: auto;
}


.menu-item{
  padding: 0 30px;
  float: left;
  line-height: 68px;
  text-align: center;
  background-color: #25aff4;
}
.menu-item:hover{
  background-color: #1694d3;
}

.menu-img{
  float: left;
  width: 58px;
  height: 68px;
}

.page{
  width: 100%;
}
.page-content-adjuster{
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
  position: relative;
}
.page-content{
  z-index: 1;
  top: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 360px;
  position: absolute;
}

#fillinPage{
  display: none;
  width: 100%;
}

h1{
  font-size: 98px;
  margin-bottom: 12px;
  color: #faa32d;
}
h2{
  padding-bottom: 20px;
  font-size: 36px;
  margin-top: 12px;
  color: #555;
}
#landingPage h2{border-bottom: 6px solid #25aff4;}
#fillinPage h2{
  border-bottom: none;
  margin: 76px 0px 0px 0px;
  z-index: 2; 
  position: absolute;
  background-color: #fff;
  padding: 0 4px 0 0;
}
#newUrlLabel{
  z-index: 2;
  font-weight: bold;
  background-color: #fff;
  color: #555;
  font-size: 36px;
  line-height: 40px;
  padding: 0 4px 0 0;
  margin: 274px 0px 0px 0px;
  position: absolute;
}
.link-button{
  display: block;
  width: 350px;
  height: 64px;
  padding-left: 10px;
  line-height: 64px;
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  background-color: #faa32d;
}

.input-text-page{
  width: calc(100% - 60px);
  position: absolute;
  top: 102px;
  padding-left: 10px;
  height: 60px;
  border: 6px solid #faa32d;
  font-size: 18px;
  z-index: 0;
}
#shortUrlOutput{
  border: 6px solid #1694d3;
  margin-top: 200px;
  font-size: 38px;
  color: #faa32d;
}
input, textarea, select { 
    outline: none;
}

.background-gobo{
  z-index: -1;
  position: fixed;
  height: 800px;
  width: auto;
  right: -50px;
  bottom: -100px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


