body {
  margin: 0;
  overflow: hidden;
}

.menu {
  z-index: 3;
  width: 100%;
  height: 68px;
  background-color: #25aff4;
  padding: 0;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 16px;
  color: #fff;
}
.menu-align-adjuster {
  max-width: 1000px;
  margin: auto;
}

.menu-item {
  text-decoration: none;
  color: #fff;
  padding: 0 30px;
  float: left;
  line-height: 68px;
  text-align: center;
  background-color: #25aff4;
}
.menu-item:hover {
  background-color: #1694d3;
}

.menu-img {
  float: left;
  width: 58px;
  height: 68px;
}

.page {
  width: 100%;
}
.page-content-adjuster {
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
  position: relative;
}
.page-content {
  z-index: 1;
  top: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 360px;
  position: absolute;
}
#landingPage {
  transform: translateY(0%);
  transition: transform 1s;
}
#landingPage.move-out {
  transform: translateY(100vh);
}
#fillinPage {
  transform: translateY(100vh);
  transition: transform 1s;
  transition-delay: 0.75s;
  width: 100%;
  visibility: hidden;
}
#fillinPage.move-in {
  transform: translateY(0%);
  visibility: visible;
}
h1 {
  font-size: 98px;
  margin-bottom: 12px;
  color: #faa32d;
}
h2 {
  padding-bottom: 20px;
  font-size: 36px;
  margin-top: 12px;
  color: #555;
}
#landingPage h2 {
  border-bottom: 6px solid #25aff4;
}
#fillinPage h2 {
  border-bottom: none;
  margin: 76px 0px 0px 0px;
  z-index: 2;
  position: absolute;
  background-color: #fff;
  padding: 0 4px 0 0;
}
#newUrlLabel {
  z-index: 2;
  font-weight: bold;
  background-color: #fff;
  color: #555;
  font-size: 36px;
  line-height: 40px;
  padding: 0 4px 0 0;
  margin: 274px 0px 0px 0px;
  position: absolute;
}
.link-button {
  display: block;
  width: 350px;
  height: 64px;
  padding-left: 10px;
  line-height: 64px;
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  background-color: #faa32d;
}

.input-text-page {
  width: calc(100% - 60px);
  position: absolute;
  top: 102px;
  padding-left: 10px;
  height: 60px;
  border: 6px solid #faa32d;
  font-size: 18px;
  z-index: 0;
}
.text-end-button-holder {
  width: calc(100% - 38px);
  position: absolute;
  top: 102px;
  margin-top: 200px;
}
.text-end-button {
  float: right;
  height: 74px;
  width: 100px;
  background: #1694d3;
  color: #fff;
  border: none;
  font-size: 18px;
}
.text-end-button:hover {
  background: #197daf;
}
#shortUrlOutput {
  border: 6px solid #1694d3;
  margin-top: 200px;
  font-size: 38px;
  color: #faa32d;
}
input,
textarea,
select {
  outline: none;
}

.background-gobo {
  z-index: -1;
  position: fixed;
  height: auto;
  max-width: 80%;
  width: 680px;
  right: -50px;
  bottom: -100px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.text-center {
  text-align: center;
}

/*Style for Contributors on About Page*/
.contrib-user-holder {
  width: 100%;
}
.contrib-user-align {
  max-width: 1000px;
  margin: auto;
  text-align: center;
  padding: 0px 20px 0 20px;
}
.contrib-user {
  text-align: center;
  display: inline-block;
  padding: 5px;
  margin: 10px;
}
.contrib-user-pic {
  border-radius: 10px;
  width: 80px;
  height: 80px;
}
.contrib-user-pic-big {
  width: 120px;
  height: 120px;
}
.contrib-user-name {
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  color: #000;
}
/*checkbox styling*/
.styled-checkbox-container {
  position: fixed;
  height: 24px;
  left: 200px;
  bottom: 0px;
  font-family: helvetica neue,helvetica,Arial,sans-serif;
  color: #fff;
  display: block;
  padding-left: 36px;
  padding-right: 8px;
  cursor: pointer;
  font-size: 14px;
  padding-top: 8px;
  background-color: #25aff4;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.styled-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.styled-checkmark {
  position: absolute;
  top: 4px;
  left: 4px;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background-color: #fff;
  transition: background-color .2s;
}
.styled-checkbox-container input:checked ~ .styled-checkmark {
  background-color: #fff;
}
.styled-checkmark:after {
  content: "";
  position: absolute;
  background-color: #fff;
}
.styled-checkbox-container input:checked ~ .styled-checkmark:after {
  display: block;
  background-color: #25aff4;
}
.styled-checkbox-container .styled-checkmark:after {
  left: 5px;
  top: 5px;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  transition: background-color .2s;
}

/*Language Select Styling*/
.txlive-langselector {
  background-color: #25aff4 !important;
  left: 20px !important;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif !important;
  border-radius: 0px !important;
  box-shadow: none !important;
}
.txlive-langselector-toggle {
  border-bottom: none !important;
}
.txlive-langselector-list {
  border-radius: 0px !important;
  webkit-border-radius: 0px !important;
  border-top: none !important;
  box-shadow: none !important;
  bottom: 36px !important;
  padding: 0px !important;
  background-color: #25aff4 !important;
  color: #fff !important;
}
.txlive-langselector-list > li:hover {
  background-color: #1694d3 !important;
}

/*general setup*/
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
